/* pytch-gui.css */

body {
    background-color: #eee;
    margin: 32px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: #336;
    color: white;
    text-align: center;
    margin: 0ex 2em 1ex;
    padding: 0.5ex 0em;
}

#editor {
    border: 1px solid lightgray;
    margin: 0;
    width: 680px;
    height: 400px;
    font-size: 16px;
}

#code-change-indicator {
    width: 680px;
    background-color: #ff8;
    padding: 1.0ex 0em;
    margin-top: 1.0ex;
    margin-bottom: 1.0ex;
    border: 1px solid #222;
}

#code-change-indicator p {
    margin: 0.75ex 0em;
    text-align: center;
}

#code-change-indicator p span.button {
    background-color: lightgreen;
    padding: 4px;
    margin: 0ex 0.25em;
}

#editor-menubar {
    padding-top: 0.5ex; padding-bottom: 0.5ex;
    margin-bottom: 1.5ex;
    background-color: #66a;
}

#build-button {
    padding: 0.75ex 1.25em;
    margin-left: 2.5em;
    background-color: lightgreen;
    color: black;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}

#pytch-canvas {
    border: 1px solid lightgray;
    background: white;
}

#green-flag, #red-stop {
    height: 32px;
    width: 48px;
    float: left;
    margin-bottom: 8px;
    cursor: pointer;
}

#green-flag {
    background-color: green;
}

#red-stop {
    background-color: red;
    margin-left: 1em;
}
