/* pytch-gui.css */

body {
    background-color: #eee;
    margin: 32px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: #336;
    color: white;
    text-align: center;
    margin: 0ex 2em 1ex;
    padding: 0.5ex 0em;
}

#editor {
    border: 1px solid lightgray;
    margin: 0;
    width: 680px;
    height: 400px;
    font-size: 16px;
}

#code-change-indicator {
    width: 680px;
    background-color: #ff8;
    padding: 1.0ex 0em;
    margin-top: 1.0ex;
    margin-bottom: 1.0ex;
    border: 1px solid #222;
}

#code-change-indicator p {
    margin: 0.75ex 0em;
    text-align: center;
}

#code-change-indicator p span.button {
    background-color: lightgreen;
    padding: 4px;
    margin: 0ex 0.25em;
}

#editor-menubar {
    padding-top: 0.5ex; padding-bottom: 0.5ex;
    margin-bottom: 1.5ex;
    background-color: #66a;
    color: white;
}

#editor-menubar span.menu-elt {
    padding: 0.75ex 1.25em;
    margin: 0ex 0.5em;
    background-color: #336;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}

#editor-menubar #build-button {
    margin-left: 2.5em;
    background-color: lightgreen;
    color: black;
}

#pytch-canvas {
    border: 1px solid lightgray;
    background: white;
}

#green-flag, #red-stop {
    height: 32px;
    width: 48px;
    float: left;
    margin-bottom: 8px;
    cursor: pointer;
}

#green-flag {
    background-color: green;
}

#red-stop {
    background-color: red;
    margin-left: 1em;
}

#info-panels-container {
    clear: both;
}

#info-panels-container ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#info-panels-container ul.tabs li {
    background: none;
    color: #336;
    font-size: 16px;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
}

#info-panels-container ul.tabs li.current {
    color: #000;
}

#info-panels-container ul.tabs li.current.stdout {
    background-color: #88c;
}

#info-panels-container ul.tabs li.current.stderr {
    background-color: #f44;
}

#tab-pane-stdout {
    background-color: #88c;
}

#tab-pane-stderr {
    background-color: #f44;
}

#info-panels-container div.tab-content {
    display: none;
    padding: 10px 15px;
    height: 60ex;
    overflow-x: auto;
    overflow-y: auto;
}

#info-panels-container div.tab-content.current {
    display: inherit;
}

#info-panels-container div.tab-content span.info {
    font-style: italic;
}
